<!-- home page, shows list of pets -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}Our Pets{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p class="text-center text-success">{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="mb-3" style="text-align:center">
    <a class='btn btn-primary' href="/pets/add" role="button">Add A Pet</a>
</div>

{% for pet_row in pets | batch(3, '&nbsp;') %}
<!-- batch 3 for row/column bootstrap formatting -->
<div class="row justify-content-center">
    {% for pet in pet_row%}
    {% if pet.name %}
    <!-- pet.name required field, ends loop to prevent blank cards from appearing in remainder of batch if not enough pet objects to complete row -->
    <div class="card" style="width: 18rem;">
        <img src="{{pet.photo_url}}" class="card-img-top" alt="{{pet.name}} photo">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">{{pet.name}}</h5>
            {% if pet.available %}
            <!-- formatting for available vs unavailable -->
            <p class="card-text fw-bold text-success text-center">Available!</p>
            {% else %}
            <p class="card-text text-center">Unavailable</p>
            {% endif %}
            <!-- button to go to pet info page -->
            <a class="mt-auto btn btn-success btn-sm" href="/pets/{{pet.id}}" role="button">See More Information</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}